{% extends "../layout.html.twig" %}

{% block legendDescription %}
    Une archive des articles de plusieurs milliers de revues scientifiques électroniques disponibles en texte intégral.
{% endblock %}

{% block description %}
<div class="row">
    <div class="col s6">
        <a href="http://www.univ-lorraine.fr/" target="_blank">
            <img alt="Université de Lorraine" src="/images/logo-universite-de-lorraine.png"></a>
    </div>

    <div class="col s12">
        <strong>BiblioMap “ Les chercheurs n’arrêtent jamais ! ”</strong>
    </div>


    <div class="col s12">
        <strong>BiblioMap-UL</strong>
        reflète les consultations en direct des
        <a href="http://www.cnrs.fr/fr/organisme/presentation.htm" target="_blank">étudiants et personnels universitaires de l'Université de Lorraine</a>
        dans leur travail de recherche bibliographique dans leur domaine, en utilisant
        <a href="http://bu.univ-lorraine.fr/ressources/ressources-en-ligne" target="_blank">les outils numériques mis à leur disposition</a>.<br></div>

    <div class="col s6">
        <a href="http://www.univ-lorraine.fr/" target="_blank">
            <img alt="Portail UL" src="/images/portrait-ul_0.jpg">
        </a>
    </div>


    <div class="col s6">
        <a href="http://ezpaarse.couperin.org" target="_blank">
            <img alt="ezPAARSE" src="/images/logo-ezpaarse.png">
        </a>
    </div>
    <div class="col s6">
        <a href="http://analogist.couperin.org" target="_blank">
            <img alt="analogIST" src="/images/logo-analogist.png">
        </a>
    </div>


    <div class="col s12">
        <p>Les visualisations disponibles dans
            <a href="https://github.com/ezpaarse-project/bibliomap" target="_blank">BiblioMap</a>
            sont rendues possible par l’utilisation d’<a href="http://ezpaarse.couperin.org" target="_blank">ezPAARSE</a>, un
            <a href="https://github.com/ezpaarse-project/ezpaarse" target="_blank">logiciel libre</a>
            développé conjointement par
            <a href="http://www.couperin.org/presentation" target="_blank">COUPERIN</a>, l’INIST-CNRS et l’<a href="http://www.univ-lorraine.fr/" target="_blank">Université de Lorraine</a>
            comme site pilote.
            <a href="http://analogist.couperin.org/" target="_blank">AnalogIST</a>
            est le portail collaboratif de l’Enseignement Supérieur et Recherche dédié à la problématique de l’usage des ressources électroniques. Les développements associés à cette collaboration sont disponibles sous forme de logiciel libre au sein d’<a href="https://github.com/ezpaarse-project/" target="_blank">ezPAARSE-project</a>.</p>
    </div>
    <div class="col s6">
        <a href="http://www.couperin.org/" target="_blank">
            <img alt="COUPERIN" src="/images/logo-couperin.jpg">
        </a>
        <a href="http://www.cnrs.fr/" target="_blank">
            <img alt="CNRS" src="/images/logo-cnrs.jpg">
        </a>
        <a href="http://www.univ-lorraine.fr/" target="_blank">
            <img alt="Université de Lorraine" src="/images/logo-universite-de-lorraine.png">
        </a>
    </div>
</div>
{% endblock %}


