<a href="http://www.istex.fr/" target="_blank"><img class="logo" src="/public/images/istex-logo.svg" alt="ISTEX"></a>
<h3>Consultations en direct</h3> 
<h4>Une archive des articles de plusieurs milliers de revues scientifiques électroniques disponibles en texte intégral.</h4>
<h2>Les accès en direct</h2>

<!-- counter of mime -->
<!--
{% block counter %}
<div id="countExt">
  <div id="extCountHTML">0</div>
  <img src="/public/images/icon_html.png" height="25px"/>
  <div id="extCountPDF">0</div>
  <img src="/public/images/icon_pdf.png" height="25px"/>
</div>
{% endblock %}
-->