html, body, #bibliomap-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}
#legend {
  position: fixed;
  top: 20px;
  left: 80px;
  background-color: #FFF;
  opacity: 0.7;
  border: 2px solid #CCC;
  padding: 0 10px;
}
#legend .controls {
  text-align: right;
  padding: 5px 0;
}
#legend h2, #legend h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
#legend a {
  color: black;
}
#legend .logo {
  height: 100px;
  margin: 5px auto;
  display: block;
}
#legend .portal-logo {
  height: 50px;
  vertical-align: middle;
}
#legend .counter {
  font-size: 2em;
  vertical-align: middle;
  padding: 5px;
}
#brand {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background: #FFF;
  padding: 10px 10px;
  text-align: center;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
  opacity: 0.8;
}
#brand .main { font-size: 1.3em; font-weight: bold; }
#brand .sub { font-size: 0.9em; }
#brand a { color: black; }