{% block description %}

<table class="header"><tr>
        <td class="logo">
          <a href="http://www.cnrs.fr/" target="_blank">
            <img src="/public/images/logocnrs.png" alt="CNRS">
          </a>
        </td>

        <td class="logo">
           <a href="http://www.istex.fr" target="_blank">
            <img class="logo legend" src="/public/images/istex-logo.svg" alt="ISTEX">
           </a>
        </td>

      </tr>
      
      <tr>
        <td colspan="2"> 
           <p style="font-weight: normal">
        </td>
      </tr>
      
      </table>
{% endblock %}