<a href="http://www.cnrs.fr/" target="_blank"><img class="logo" src="/public/images/logo-cnrs.jpg" alt="CNRS"></a>
<h3>Consultations en direct</h3>
<h4>des articles de plusieurs milliers de revues scientifiques électroniques disponibles en texte intégral ainsi que des bases de données.</h4>
<h2>Instituts du CNRS</h2>

<!-- counter of mime -->
{% block counter %}
<div id="countExt">
  <div id="extCountHTML">0</div>
  <img src="/public/images/icon_html.png" height="25px"/>
  <div id="extCountPDF">0</div>
  <img src="/public/images/icon_pdf.png" height="25px"/>
</div>
{% endblock %}