<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bibliomap{% if entity is defined %} - {{ entity }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link rel="icon" type="image/png" href="/public/images/favicon/cnrs.png" />
  <link rel="stylesheet" href="/public/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body style='font-family:Roboto,Arial,sans-serif'>
  <!-- Map -->
  <div id="bibliomap-canvas"></div>
  <div id="outside_map"></div>
  <label class="switch">
    <input type="checkbox" value="on" id="filter-button">
    <span class="slider round"></span>
  </label>

  <!-- information about number of connexion -->
  <div id="legend" class="gm-style">
    <div class="content">
      <a href="#legend" class="ouvrir"> &rsaquo; </a>
      <a href="#legend_clos" class="fermer"> &lsaquo; </a>
      {% include entity ~ "/legend.html.twig" %}
      <h3 id="Timer">0j 0h 0m 0s</h3>
    </div>
    {% block counter %}{% endblock %}
    <div class="controls">
      <a class="close" href="javascript:void(0)">Fermer</a> - 
      <a class="reduce" href="javascript:void(0)">Réduire</a>
    </div>
  </div>

  <div id="description">
    <a href="javascript:void(0)" class="close">Fermer</a>
    {% include entity ~ "/descr.html.twig" %}
  </div>

  <!-- informations about version and ezPAARRSE -->
  <div id="brand">
    <div class="main"><a href="https://github.com/ezpaarse-project/bibliomap">Bibliomap</a> 4.2.2</div>
    <div class="sub">Connecté à <a href="http://ezpaarse.couperin.org" target="_blank">ezPAARSE</a></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="/public/leaflet/leaflet.js"></script>
  <script type="text/javascript" src="/public/js/{{ entity }}/legend.js"></script>
  <script type="text/javascript" src="/public/js/init_composant.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/public/js/drawbubble.js"></script>
  <script type="text/javascript" src="/public/js/{{ entity }}/filter.js"></script> 
  <script type="text/javascript" src="/public/js/bubble.js"></script> 
  
</body>
</html>